form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: auto;
    float: right;
    /* margin-right: 30px;
    margin-top: 100px; */
  }
  input {
    width: 250px;
    height: 42px;
    padding-left: 15px;
    border-radius: 42px;
    border: 1px solid #330155;
    background: #ffffff;
    outline: none;
    position: relative;
    transition: .3s linear;
  }
  input:focus {
    width: 300px;
  }
  button {
    width: 42px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: -2px;
    right: 0;
  }
  button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
  }